body {
  font-size: 0.875rem;
}

/*
   * Content
   */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

.form-item-img {
  margin-top: 10%;
}

.form-item-img img {
  width: 150px;
  border: 1px slategrey solid;
  cursor: pointer;
}

.image-table {
  width: 50px;
  height: 50px;
}

.card-img-top {
  height: 600px;
}

.ul-style {
  cursor: pointer;
}

.icon-danger {
  color: red;
}

.icon-primary {
  color: blue;
}

.error-message {
  color: #e13526;
  position: absolute;
  padding-top: 8px;
  font-size: 0.9em;
  right: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: wheat;
  background-color: #343a40;
}
