<div class="row">
  <div class=" col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-12"><h4 class="card-title">Publisher links</h4></div>
        </div>

        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            class="embed-responsive-item"
            [src]="html"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
