<div class="row justify-content-center">
  <div class="col-6">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-item-img">
        <img
          [src]="data.img"
          class="mx-auto d-block rounded"
          (click)="openImage()"
        />
        <input
          type="file"
          hidden
          accept=".png, .jpg, .jpeg"
          class="form-control"
          name="img"
          (change)="addImage($event)"
          #image
        />
      </div>

      <div class="form-group">
        <ng-container *ngIf="!title.valid && title.touched">
          <p *ngIf="title.errors.required" class="error-message">
            El titulo es obligatorio
          </p>
          <p *ngIf="title.errors.minlength" class="error-message">
            El titulo debe de tener mas de 3 letras
          </p>
        </ng-container>
        <label for="exampleInputEmail1">Title</label>
        <input
          #title="ngModel"
          type="text"
          class="form-control"
          name="title"
          [(ngModel)]="data.title"
          placeholder="Enter title"
          required
          minlength="3"
        />
      </div>

      <div class="form-group">
        <ng-container *ngIf="!body.valid && body.touched">
          <p *ngIf="body.errors.required" class="error-message">
            El body es obligatorio
          </p>
        </ng-container>
        <label>Body</label>
        <textarea
          #body="ngModel"
          name="body"
          [(ngModel)]="data.body"
          class="form-control"
          rows="3"
          required
        ></textarea>
      </div>

      <div class="form-group">
        <ng-container *ngIf="!source.valid && source.touched">
          <p *ngIf="source.errors.required" class="error-message">
            El source es obligatorio
          </p>
          <p *ngIf="source.errors.minlength" class="error-message">
            El source debe de tener mas de 3 letras
          </p>
        </ng-container>
        <label for="exampleInputEmail1">Source</label>
        <input
          #source="ngModel"
          type="text"
          class="form-control"
          name="source"
          [(ngModel)]="data.source"
          placeholder="Enter source"
          required
          minlength="3"
        />
      </div>
      <div class="form-group">
        <ng-container *ngIf="!publisher.valid && publisher.touched">
          <p *ngIf="publisher.errors.required" class="error-message">
            El publisher es obligatorio
          </p>
          <p *ngIf="publisher.errors.minlength" class="error-message">
            El publisher debe de tener mas de 3 letras
          </p>
        </ng-container>
        <label for="exampleInputEmail1">Publisher</label>
        <input
          #publisher="ngModel"
          type="text"
          class="form-control"
          name="publisher"
          [(ngModel)]="data.publisher"
          placeholder="Enter publisher"
          required
        />
      </div>
      <button
        type="button"
        class="btn btn-danger"
        [routerLink]="['/feed/list']"
        routerLinkActive="router-link-active"
      >
        Cancel
      </button>
      <button type="submit" [disabled]="f.invalid" class="btn btn-primary">
        Submit
      </button>
    </form>
  </div>
</div>
