<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="navbar-brand" href="#">AvantioPress</a>
  </div>

  <form class="form-inline my-2 my-lg-0">
    <button
      class="btn btn-outline-success my-2 my-sm-0"
      [routerLink]="['/login']"
      routerLinkActive="router-link-active"
      type="submit"
    >
      Login
    </button>
  </form>
</nav>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div
        class="card"
        *ngFor="let item of feeds; let i = index"
        style="width: 60rem; text-align: center; margin-top: 50px;"
      >
        <!-- Card image -->
        <img
          *ngIf="item._id; else dailyimage"
          class="card-img-top"
          [src]="item.img | images"
          alt="Card image cap"
        />
        <ng-template #dailyimage>
          <img
            class="card-img-top"
            [src]="item.img | dailyImage"
            alt="Card image cap"
          />
        </ng-template>
        <!-- Title -->
        <h2 class="card-header-title">
          <strong>{{ item.title }}</strong>
        </h2>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <div class="row">
            <h4 class="card-header-title">
              <strong>{{ item.source }}</strong>
            </h4>

            <br />

            <div class="col-12 bid-button-style">
              {{ item.body | slice: 0:200 }}....
            </div>

            <h5><a href="{{ item.publisher }}">Ver mas...</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Card -->
