<h2>List sources</h2>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Source</th>
        <th>Publisher</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of feeds">
        <td>
          <img
            *ngIf="item._id; else dailyimage"
            class="image-table"
            [src]="item.img | images"
            alt="Card image cap"
          />
          <ng-template #dailyimage>
            <img
              class="image-table"
              [src]="item.img | dailyImage"
              alt="Card image cap"
            />
          </ng-template>
        </td>

        <td>{{ item.title }}</td>
        <td>{{ item.source }}</td>
        <td>{{ item.publisher }}</td>
        <td>
          <ul class="list-unstyled list-inline ul-style">
            <ng-container *ngIf="item._id; else noexist">
              <li (click)="delete(item._id)" class="list-inline-item">
                <i class="fa fa-trash icon-danger"></i>
              </li>

              <li
                [routerLink]="['../add', item._id]"
                routerLinkActive="router-link-active"
                class="list-inline-item"
              >
                <i class="fa fa-pencil icon-primary"></i>
              </li>
            </ng-container>

            <ng-template #noexist>
              <li
                [routerLink]="['../view', item.publisher]"
                routerLinkActive="router-link-active"
                class="list-inline-item"
              >
                <i class="fa fa-eye icon-primary"></i>
              </li>
            </ng-template>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
